.NewNote form {
  padding-bottom: 15px;
}

.NewNote form textarea {
  height: 300px;
  font-size: 24px;
}

.NewNote form label{
  font-size: 16px;
  font-weight: normal;
}

.NewNote form p{
  padding-left: 10px;
}
