.Notes form {
  padding-bottom: 15px;
}

.Notes form textarea {
  height: 300px;
  font-size: 24px;
}

.Notes p{
  font-size: 16px;
  padding-left: 10px;
  font-weight: normal;
}

.Notes label{
  font-weight: normal;
}
